@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    --primary-color: #1B1C2A;
    --secondary-color: #1B2430;
    --light-purple: #816797;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-family: 'Lato',
        sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--primary-color);
}

/* HEADER START */
header {
    background-color: var(--secondary-color);
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    z-index: 999;
}

header div {
    height: 80px;
    align-items: center;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
}

.menu {
    display: none;
    border-radius: 5px;
    border: 2px solid white;
    padding: 6px 8px;
    font-weight: 800;
}


/* #1 LOGO */
.logo {
    font-size: 2rem;
    font-weight: bold;
    width: auto;
}

/* #2 NAVIGATION */
nav {
    width: 40vw;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    font-size: 2rem;
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    font-weight: bold;
}

header .drop-menu {
    background-color: #171e25;
    border-top: 1px solid #0c0d14;
    display: none;
    width: 100%;
}

header .drop-menu ul {
    display: flex;
    flex-direction: row;
}

header .drop-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2px 0;
}

/* HEADER END */

/* MAIN START */
main {
    padding: 10px 30px 0;
}

.primary-content {
    display: flex;
    justify-content: space-between;
}

/* CONTENT INTRODUCTION START */
.introduction {
    width: 60vw;
    min-height: 80vh;
    padding: 40px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.introduction * {
    margin: 5px 0;
}

.introduction p {
    font-size: 1.5rem;
}

.introduction h1 {
    margin-top: 0;
    font-size: 3rem;
}

.introduction p.hello {
    margin: 0;
    color: var(--light-purple);
}

.introduction p.scroll {
    margin-top: 50px;
}

/* CONTENT INTRODUCTION END*/

/* CONTENT SKILLS START*/
.skills {
    margin-top: 60px;
    width: 60vw;
    background-color: var(--secondary-color);
    border: 1px solid #707070;
    border-radius: 5px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, .16);
    padding: 10px 10px;
}

.skills h1 {
    font-size: 2rem;
}

.skills ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.skills ul li {
    list-style-type: none;
}

.skills ul li i {
    font-size: 8vw;
}

.skills.mobile-mode {
    display: none;
}

/* CONTENT SKILLS END*/

/* ASIDE START*/
aside {
    width: 30vw;
    height: auto;
}

/* HEADER BIO START*/

aside .bio {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0px 6px rgba(0, 0, 0, .16);
    border-radius: 5px;
    position: static;
    padding: 10px 30px;
}

aside .bio figure img {
    width: 100%;
    border-radius: 50%;
}

aside .bio figure figcaption {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    word-spacing: 5px;
    margin: 5px 0;
}

.detail {
    flex-direction: column;
    margin-top: 5px;
}

.row {
    margin: 5px 0;
}

.row p {
    font-weight: bold;
}

.row p span {
    font-weight: normal;
    opacity: .5;
}

/* HEADER BIO END*/
/* ARTICLE EDUCATION START */
.education {
    margin-top: 60px;
    padding: 10px;
}

.education section {
    display: flex;
    flex-direction: column;
}

.education h1 {
    font-size: 2rem;
}

.education section figure {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.education section figure img {
    height: 3rem;
}

.education section .line {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    align-self: center;
}

/* ARTICLE EDUCATION END */
/* ASIDE END*/
/* SECONDARY CONTENT START */
/* SECONDARY CONTENT END */
.secondary-content {
    margin-top: 100px;
    width: auto;
    height: auto;
    padding: 0 10px;
}

.secondary-content article h1 {
    font-size: 2rem;
}

.slider {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.slider .container {
    display: flex;
    align-items: center;
}

.certificate-detail {
    width: 40vw;
}

.certificate-figure img {
    height: 150px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

/* FOOTER START */

footer {
    margin-top: 150px;
}

footer .social-media {
    background-color: #161723;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.social-media h1 {
    font-size: 1rem;
    font-weight: bold;
}

.social-media p {
    font-size: .5rem;
    font-weight: normal;
    opacity: .5;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25vw;
}

.social-media ul li {
    list-style-type: none;

}

footer .disclaimer {
    background-color: #0c0d14;
    height: 1rem;
    width: 100%;
    font-size: .5rem;
    text-align: center;
}

/* FOOTER END */



/* MAIN END */


/* RESPONSIVE START */
@media screen and (max-width: 992px) {


    /* HEADER START */



    nav {
        width: 50vw;
        justify-content: space-between;
    }

    .primary-content {
        flex-direction: column;
    }

    .introduction {
        width: 100%;
        min-height: auto;
    }

    aside {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside>* {
        margin: 10px 0;
    }

    aside .bio {
        width: 70vw;
    }

    aside .education {
        margin-top: 10px;
        width: 70vw;
    }

    .secondary-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0;
    }

    .secondary-content article {
        margin: 15px 0;
    }

    .skills.dekstop-mode {
        display: none;
    }

    .skills.mobile-mode {
        width: 70vw;
        display: block;
    }

    .certificates {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .certificates h1 {
        width: 70vw;
        padding-left: 10px;
    }

    .slider {
        justify-content: space-between;
    }

    .slider .container {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
    }

    .slider .container>* {
        margin: 10px;
    }

    /* HEADER END */
}

@media screen and (max-width: 768px) {

    /* HEADER START */
    .menu {
        display: block;
    }

    header .drop-menu.active {
        display: block;
    }

    header .drop-menu {
        display: none;
    }

    header .drop-menu ul {
        display: flex;
        flex-direction: column;
    }


    nav {
        display: none;
    }



    .social-media ul {
        width: 50vw;
    }

    /* HEADER END */
}


/* RESPONSIVE END */