@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    --primary-color: #1B1C2A;
    --secondary-color: #1B2430;
    --light-purple: #816797;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-family: 'Lato',
        sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--primary-color);
    height: 4000px;
}

/* HEADER START */
header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--secondary-color);
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

/* #1 LOGO */
.logo {
    font-size: 2rem;
    font-weight: bold;
    width: auto;
}

/* #2 NAVIGATION */
nav {
    width: 40vw;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    font-size: 2rem;
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    font-weight: bold;
}

/* HEADER END */

/* MAIN START */
main {
    display: flex;
    padding: 10px 30px 0;
    justify-content: space-between;
}

/* CONTENT INTRODUCTION START */
.introduction {
    width: 60vw;
    height: 600px;
    /* background-color: red; */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.introduction * {
    margin: 5px 0;
}

.introduction p {
    font-size: 1.5rem;
}

.introduction h1 {
    margin-top: 0;
    font-size: 3rem;
}

.introduction p.hello {
    margin: 0;
    color: var(--light-purple);
}

.introduction p.scroll {
    margin-top: 50px;
}

/* CONTENT INTRODUCTION END*/

/* ASIDE START*/
aside {
    width: 30vw;
    height: 1000px;
    background-color: red;
}

/* ARTICLE BIO START*/

aside article.bio {
    width: 100%;
    height: 600px;
    background-color: orange;
}

/* ARTICLE BIO END*/
/* ASIDE END*/
/* MAIN END */


/* RESPONSIVE START */
@media screen and (max-width: 992px) {

    /* HEADER START */
    nav {
        width: 50vw;
        justify-content: space-between;
    }

    /* HEADER END */
}

@media screen and (max-width: 768px) {

    /* HEADER START */
    nav {
        display: none;
    }

    /* HEADER END */
}

/* RESPONSIVE END */